<div class="col-sm-10">
	<div class="form-group row">
		<label class="col-sm-2 control-label" for="name">Name</label>
		<div class="col-sm-8">
			<input data-ng-model="recipe.name" id="name" class="form-control" placeholder="Name" required></input>
		</div>
	<div class="form-group">
		<div class="col-sm-9">
			<h4>Ingredients</h4>
		</div>
		<div class="col-sm-1">
			<button type="button" class="btn btn-default" data-ng-click="addIngredient()">Add</button>
		</div>
	</div>
	<div data-ng-repeat="recipeIngredient in recipe.ingredients">
		<div data-ng-include="'/modules/recipes/views/recipe-ingredient-form.client.partial.html'"></div>	
	</div>
	<div class="form-group row">
		<label class="col-sm-2 control-label" for="instructions">Instructions</label>
		<div class="col-sm-8">
			<textarea data-ng-model="recipe.instructions" id="instructions" class="form-control" placeholder="Instructions"></textarea>
		</div>
	</div>
	<div class="row">
		<label class="col-sm-3 control-label" for="calories">Calories</label>
		<div class="col-sm-7" data-ng-bind="recipe.calories" id="calories"></div>
	</div>
	<div class="row">
		<label class="col-sm-3 control-label" for="caloriesFromFat">Calories From Fat</label>
		<div class="col-sm-7" data-ng-bind="recipe.caloriesFromFat" id="caloriesFromFat"></div>
	</div>
	<div class="row">
		<label class="col-sm-3 control-label" for="totalFat">Total Fat</label>
		<div class="col-sm-7" data-ng-bind="recipe.totalFat" id="totalFat"></div>
	</div>
	<div class="row">
		<label class="col-sm-3 control-label" for="saturatedFat">Saturated Fat</label>
		<div class="col-sm-7" data-ng-bind="recipe.saturatedFat" id="saturatedFat"></div>
	</div>
	<div class="row">
		<label class="col-sm-3 control-label" for="transFat">Trans Fat</label>
		<div class="col-sm-7" data-ng-bind="recipe.transFat" id="transFat"></div>
	</div>
	<div class="row">
		<label class="col-sm-3 control-label" for="colesterol">Colesterol</label>
		<div class="col-sm-7" data-ng-bind="recipe.colesterol" id="colesterol"></div>
	</div>
	<div class="row">
		<label class="col-sm-3 control-label" for="sodium">Sodium</label>
		<div class="col-sm-7" data-ng-bind="recipe.sodium" id="sodium"></div>
	</div>
	<div class="row">
		<label class="col-sm-3 control-label" for="totalCarbohydrates">Total Carbohydrates</label>
		<div class="col-sm-7" data-ng-bind="recipe.totalCarbohydrates" id="totalCarbohydrates"></div>
	</div>
	<div class="row">
		<label class="col-sm-3 control-label" for="dietaryFibers">Dietary Fibers</label>
		<div class="col-sm-7" data-ng-bind="recipe.dietaryFibers" id="dietaryFibers"></div>
	</div>
	<div class="row">
		<label class="col-sm-3 control-label" for="sugars">Sugars</label>
		<div class="col-sm-7" data-ng-bind="recipe.sugars" id="sugars"></div>
	</div>
	<div class="row">
		<label class="col-sm-3 control-label" for="protein">Protein</label>
		<div class="col-sm-7" data-ng-bind="recipe.protein" id="protein"></div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-3 col-sm-7">
			<input type="submit" value="Save" class="btn btn-default">
		</div>
	</div>
	<div data-ng-show="error" class="text-danger">
		<strong data-ng-bind="error"></strong>
	</div>
</div>	