<section data-ng-controller="RecipesController" data-ng-init="findOne()">
	<div class="page-header">
		<h2 data-ng-bind="recipe.name"></h2>
	</div>
	<div class="row">
		<label class="col-sm-3" for="instructions">Ingredients</label>
	</div>
	<div class="row" data-ng-repeat="recipeIngredient in recipe.ingredients">
		<div class="col-sm-3" data-ng-bind="recipeIngredient.ingredient.name" id="ingredient"></div>
		<label class="col-sm-1" for="quantity">Quantity</label>
		<div class="col-sm-2">
			<span data-ng-bind="recipeIngredient.quantity" id="quantity"></span>
			<span data-ng-bind="recipeIngredient.unitOfMeasure.name"></span>
		</div>
	</div>	
	<div class="row">
		<label class="col-sm-3" for="instructions">Instructions</label>
		<div class="col-sm-7" data-ng-bind="recipe.instructions" id="instructions"></div>
	</div>
	<div class="row">
		<label class="col-sm-3" for="numberOfServings">Number of Servings</label>
		<div class="col-sm-7" data-ng-bind="recipe.numberOfServings" id="numberOfServings"></div>
	</div>
	<div data-ng-include="'/modules/recipes/views/nutrition-facts.client.partial.html'"></div>
	<div class="pull-right" data-ng-show="authentication.user._id == recipe.user._id">
		<a class="btn btn-primary" href="/#!/recipes/{{recipe._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
</section>